<%- include("partials/header.ejs") %>

<h1> Welcome to our blog! Written by Andrew Morris, Bobby Pappas, and Nidiyan Rajendran</h1>
	<br>
	<a href="https://github.com/AndrewJMorris/Blog">link to check out the github :)</a>

<%- include("partials/footer.ejs") %>