body {
	position: relative;
	height: 100%;
}

.centerImg {
	display: block;
	margin: auto;
}

.imgStyle {
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: 85%;
	border-radius: 50%;
	margin: 10px auto;
}

.center {
	text-align: center;
	margin: auto;
}

.navbar {
	width: 50%;
	margin: auto;
}

.navBarItem {
	font-size: 20px;
	margin: auto 20px;
	font-weight: 600;
	color: #696969;
}

.horizRule {
	width: 50%
}

.titleField {
	width: 20%;
}

.centerFlex {
	display: flex;
	justify-content: center;
}

.flexFormat {
	width: 75%;
	flex-wrap: wrap;
	justify-content: center;
}

.cardMargin {
	margin: 10px;	
}

.content {
	width: 50%;
	margin: auto;
}

.publish {
	margin-top: 25px;
}

@media only screen and (max-width: 800px) {
	.navbar {
		width: 100%;
	}

	.horizRule {
		width: 100%;
	}
}